extends layout

block content
    a(href='/logout') Se déconnecter
    p PointSAM : #{pointSam}
    a(href='/add_prop') Devenir SAM
    a(href='/findsam') Chercher SAM
    a(href='/users') Mes voitures
    h2 Informations Personnelles
    ul
      li Pseudo : #{pseudo}
      li Nom : #{name}
      li adresse : #{address}
      li téléphone : #{phone}
    //h3 Mon AviScore

