extends layout

block content
    .container(style="background:white;padding:10px;")
        .row-fluid
            h2 Informations Personnelles
            ul
                li PointSAM : #{pointSam}
                li Pseudo : #{pseudo}
                li Nom : #{name}
                li adresse : #{address}
                li téléphone : #{phone}
        .row-fluid
            .col-5
                a(class="btn btn-lg btn-primary btn-block", href='/users') Mes voitures